/* https://github.com/PrismJS/prism-themes/blob/master/themes/prism-darcula.css */
.dark code[class*="language-"],
.dark pre[class*="language-"] {
  color       : #a9b7c6;
  font-family : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size   : 1em;
  direction   : ltr;
  text-align  : left;
  white-space : pre;
  word-spacing: normal;
  word-break  : normal;
  line-height : 1.5;

  -moz-tab-size: 4;
  -o-tab-size  : 4;
  tab-size     : 4;

  -webkit-hyphens: none;
  -moz-hyphens   : none;
  -ms-hyphens    : none;
  hyphens        : none;
}

.dark pre[class*="language-"]::-moz-selection,
.dark pre[class*="language-"] ::-moz-selection,
.dark code[class*="language-"]::-moz-selection,
.dark code[class*="language-"] ::-moz-selection {
  color     : inherit;
  background: rgba(33, 66, 131, .85);
}

.dark pre[class*="language-"]::selection,
.dark pre[class*="language-"] ::selection,
.dark code[class*="language-"]::selection,
.dark code[class*="language-"] ::selection {
  color     : inherit;
  background: rgba(33, 66, 131, .85);
}

.dark pre[class*="language-"] {
  padding : 1em;
  margin  : .5em 0;
  overflow: auto;
}

.dark :not(pre)>code[class*="language-"],
.dark pre[class*="language-"] {
  white-space : normal;
  background: #2b2b2b;
}

.dark :not(pre)>code[class*="language-"] {
  padding      : .1em;
  border-radius: .3em;
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.cdata {
  color: #808080;
}

.dark .token.delimiter,
.dark .token.boolean,
.dark .token.keyword,
.dark .token.selector,
.dark .token.important,
.dark .token.atrule {
  color: #cc7832;
}

.dark .token.operator,
.dark .token.punctuation,
.dark .token.attr-name {
  color: #a9b7c6;
}

.dark .token.tag,
.dark .token.tag .punctuation,
.dark .token.doctype,
.dark .token.builtin {
  color: #e8bf6a;
}

.dark .token.entity,
.dark .token.number,
.dark .token.symbol {
  color: #6897bb;
}

.dark .token.property,
.dark .token.constant,
.dark .token.variable {
  color: #9876aa;
}

.dark .token.string,
.dark .token.char {
  color: #6a8759;
}

.dark .token.attr-value,
.dark .token.attr-value .punctuation {
  color: #a5c261;
}

.dark .token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.dark .token.url {
  color          : #287bde;
  text-decoration: underline;
}

.dark .token.function {
  color: #ffc66d;
}

.dark .token.regex {
  background: #364135;
}

.dark .token.bold {
  font-weight: bold;
}

.dark .token.italic {
  font-style: italic;
}

.dark .token.inserted {
  background: #294436;
}

.dark .token.deleted {
  background: #484a4a;
}

.dark code.language-css .token.property,
.dark code.language-css .token.property+.token.punctuation {
  color: #a9b7c6;
}

.dark code.language-css .token.id {
  color: #ffc66d;
}

.dark code.language-css .token.selector>.token.class,
.dark code.language-css .token.selector>.token.attribute,
.dark code.language-css .token.selector>.token.pseudo-class,
.dark code.language-css .token.selector>.token.pseudo-element {
  color: #ffc66d;
}
